@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item {
    @apply relative hover:bg-gray-300 dark:hover:bg-gray-700 active:!bg-gray-400/60 dark:active:!bg-gray-600 odd:bg-gray-200 dark:odd:bg-gray-800 w-full text-left border-gray-300 dark:border-gray-700 active:border-transparent dark:active:border-transparent border-t-0 first:border-t-2 border-b-0 last:border-b-2 border-4 border-y-0 first:rounded-t-md last:rounded-b-md break-words cursor-pointer transition-all px-3.5 md:px-4 py-3 last:mb-3;
  
  }

  .attr {
    @apply inline-flex bg-gray-500 dark:bg-gray-400 text-sm text-gray-100 dark:text-gray-900 rounded-md break-words px-2 py-[0.075rem] first:ml-0 ml-2 mt-2;
  }

  .modalTitle {
    @apply text-xl font-medium mb-6;
  }

  .modalSubtext {
    @apply text-xs md:text-sm block text-gray-500 dark:text-gray-400 px-2;
  }

  .input {
    @apply bg-gray-100 dark:bg-gray-900 border-gray-300 dark:border-gray-700 border-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-800 w-full text-left transition px-3 py-2 mb-4 md:mb-6;
  }

  .buttonPrimary {
    @apply text-gray-100 dark:text-gray-900 border-2 rounded-md bg-emerald-600 hover:bg-emerald-700 active:bg-emerald-800 border-transparent text-left transition px-3 py-2 mt-3;
  }

  .buttonSecondary {
    @apply input active:bg-gray-300 active:border-transparent dark:active:bg-gray-600 w-auto px-3 py-2 ml-3 mb-0;
  }

  .lightArrowsSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(229 231 235)'><polygon points='0,0 100,0 50,50'/></svg>")
      no-repeat;
    background-size: 10px;
    background-position: calc(100% - 11px) 62%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .darkArrowsSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(31 41 55)'><polygon points='0,0 100,0 50,50'/></svg>")
      no-repeat;
    background-size: 10px;
    background-position: calc(100% - 11px) 62%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .invisibleFade {
    @apply invisible opacity-0 transition-all;
  }

  .visibleFade {
    @apply visible opacity-100 transition-all;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.font-Calistoga {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}
